if BOARD_TEST-BOARD_NRF9151 || BOARD_TEST-BOARD_NRF9151_NS

config BOARD_TEST-BOARD
	select USE_DT_CODE_PARTITION if BOARD_TEST-BOARD_NRF9151_NS

endif # BOARD_TEST-BOARD_NRF9151 || BOARD_TEST-BOARD_NRF9151_NS